*{
    margin: 0;
    padding: 0;
}
/* header */
.header{
    display: flex;
text-align: ;
display: block;
}
.logo{
    margin-left: 200px;
   
}
.logo img{
    width: 200px;
    margin-top: 20px;

}
.manue{
   margin-right: 200px;
   text-align: right;
   margin-top: -20px;
}
.manue a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px;
    color: gray;
}
#singup{
    background-color: #FF4419;
    padding: 5px 10px;
    color: #fff;
}
/* .manuetwo */
.manuetwo{
    margin-left: 200px;
}
.manuetwo a{
color: gray;
text-decoration: none;
margin-left: 20px;
}
/* header end */
.bannar{
    padding: 50px;
    display: flex;
    background-color: #E9F2F1;
}
.bannar-img img{
    width: 550px;
    margin: 00px    300px 0px 200px;
}
.bannar-text{
width: 700px;
}
.bannar-text h2{
    font-size: 50px;
    margin-top: 50px;
}
.bannar-text p{
    margin-top: 20px;
    width: 500px;
}
.clickable{
    display: flex;
    margin-top: 20px;
}
.clickable a{
    color: #FF4419;
    text-decoration: none;
    margin-right: 60px;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 30px;
}
#get{
    font-size: 30px;
    text-decoration: none;
    background-color: #0078D7;
    color: white;
    padding: 0px 20px;
}
/* sectionone */
.sectionone{
    background-color: #3B506B;
    text-align: center;
    padding: 100px;
}
.sectiontext h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px ;
}
.sectiontext p{
    width: 600px;
    margin-left: 33%;
    color: white;
    font-size: 15px;
}
.sectiontext a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: block;
}
/* sectiontwo */
.sectiontwo{
    display: flex;
}
.driem{
    margin-left: 350px;
    margin-top: 50px;
    font-size: 30px;
}
.sectiontwoimg img{
width: 700px;
margin-right: 100px;
margin-left: 300px;
}
.sectiontwotext{
margin: 130px 0px 0px 0px ;
    width: 400px;
}
.sectiontwotext p{
    margin-bottom: 20px;
}
.sectiontwotext h4{
font-size: 20px;
margin-bottom: 7px;
}
.sectiontwotext a{
    color: #0078D7;
}